

<form class="login-form" [formGroup]="loginForm">
  <div class="card-login">
    <mat-card style="width: 30%;">
      <mat-card-header class="card-login-header">
        <div mat-card-avatar><mat-icon>person</mat-icon></div>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>

      <mat-card-content class="card-login-content">
        <div>
          <mat-form-field floatLabel="always">
            <mat-label>Username</mat-label>
            <input
              matInput type="text"
              placeholder="Username"
              required
              formControlName="username"
              [(ngModel)]="loginDTO.username"
            />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field floatLabel="always">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Password"
              required
              formControlName="password"
              [(ngModel)]="loginDTO.password"
            />
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions class="card-login-buttons">
        <button
          mat-raised-button
          class="buttonLogin"
          color="primary"
          (click)="login()"
        >Login</button>
        <button
          mat-raised-button
          class="buttonRegister"
          color="accent"
          (click)="goToRegister()"
        >Register</button>
      </mat-card-actions>

    </mat-card>
  </div>
</form>
