

.card-register {
  height: 150vh;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-register-header, .card-register-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}


.mat-form-field {
  display: inline !important;
  position: relative;
  text-align: left;
}
